div
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #adff2f;
    transition: transform 1s linear;
}
div:hover 
{
    transition: transform 1s linear;
    transform: translateX(200px);
}