.skew-one 
{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 20%;
    background: rgb(39, 127, 179);
}
.skew-two 
{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 20%;
    background: rgb(39, 127, 179);
}
.skew-one:hover 
{
    transform: skewX(20deg);
}
.skew-two:hover 
{
    transform: skewY(20deg);
}